<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/mycss.css") }}" rel="stylesheet">
    <script src="{{ url_for('static', filename="js/jquery-1.11.2.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/myjs.js") }}"></script>

    <title>repRNA</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
{#            <img src="{{ url_for('static', filename="pic/test.png") }}" class="img-responsive" align="texttop">#}
            <h1>repRNA</h1>
            <p>A web server for generating various modes of RNA sequences</p>
        </div>
    </div>

    <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('home') }}">
                        <span class="glyphicon glyphicon-home control-label"></span>
                    </a>
                </div>

                {% block navbar %}{% endblock %}

            </div><!-- /.container-fluid -->
        </nav>

        <!-- Content -->
        {% block content %}{% endblock %}
    </div>

</body>
</html>
