{% extends "base.html" %}
{% block navbar %}
    <li><a href="{{ url_for('server') }}">Server</a></li>
    <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
    <li><a href="{{ url_for('download') }}">Download</a></li>
    <li><a href="{{ url_for('citation') }}">Citation</a></li>
    <li><a href="{{ url_for('contact') }}">Contact us</a></li>
{% endblock %}

{% block content %}

    <div class="tab-content">
        <form class="form-horizontal" role="form" method="post">

            <div class="form-group">
                <label class="col-sm-2 control-label">Mode:</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        iMcRNA <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/kmer/">Kmer</a></li>
                        <li><a href="/DAC/">DAC</a></li>
                        <li><a href="/DCC/">DCC</a></li>
                        <li><a href="/DACC/">DACC</a></li>
                        <li><a href="/Triplet/">Triplet</a></li>
                        <li><a href="/iMcRNA/">iMcRNA</a></li>
                        <li><a href="/iMiRNA-PseDPC/">iMiRNA-PseDPC</a></li>
                        <li><a href="/PC-PseDNC-General/">PC-PseDNC-General</a></li>
                        <li><a href="/SC-PseDNC-General/">SC-PseDNC-General</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock %}