{% extends "base.html" %}
{% block navbar %}
    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1" xmlns="http://www.w3.org/1999/html">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('server') }}">Server</a></li>
            <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('download') }}">Download</a></li>
            <li><a href="{{ url_for('citation') }}">Citation</a></li>
            <li><a href="{{ url_for('contact') }}">Contact us</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Select or input the following parameters
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <form class="form-horizontal" role="form" method="post">
                    <!-- Parameter: mode -->
                    <div class="form-group">
                        <label class="col-sm-1 text-left"><em>Mode </em><span class="glyphicon glyphicon-question-sign"></span>:</label>
                        <div class="btn-group col-sm-offset-1 col-sm-3">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                {{ mode }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/RNA/kmer/">Kmer</a></li>
                                <li><a href="/RNA/DAC/">DAC</a></li>
                                <li><a href="/RNA/DCC/">DCC</a></li>
                                <li><a href="/RNA/DACC/">DACC</a></li>
                                <li><a href="/RNA/Triplet/">Triplet</a></li>
                                <li><a href="/RNA/PseSSC/">PseSSC</a></li>
                                <li><a href="/RNA/PseDPC/">PseDPC</a></li>
                                <li><a href="/RNA/PC-PseDNC-General/">PC-PseDNC-General</a></li>
                                <li><a href="/RNA/SC-PseDNC-General/">SC-PseDNC-General</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Parameter: k -->
                    {% if mode == 'kmer' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>k</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="k input" name="k">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: n -->
                    {% if mode == 'PseSSC' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-leftl"><em>n</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="n input" name="n">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: d -->
                    {% if mode == 'PseDPC' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>d</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="d input" name="d">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: lag -->
                    {% if mode == 'DAC' or mode == 'DCC' or mode == 'DACC' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>lag</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="lag input" name="lag">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: lamada -->
                    {% if mode == 'PseSSC' or mode == 'PseDPC' or mode == 'PC-PseDNC-General' or mode == 'SC-PseDNC-General' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>lambda</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="lambda input" name="lamada">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: w -->
                    {% if mode == 'PseSSC' or mode == 'PseDPC' or mode == 'PC-PseDNC-General' or mode == 'SC-PseDNC-General' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>w</em>:</label>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="number" class="form-control" placeholder="w input" name="w">
                            </div>
                        </div>
                    {% endif %}

                    <!-- Parameter: phyche_index -->
                    {% if mode == 'DAC' or mode == 'DCC' or mode == 'DACC' or mode == 'PC-PseDNC-General' or mode == 'SC-PseDNC-General' %}
                        <div class="form-group">
                            <label class="col-sm-1 text-left"><em>Physicochemical properties</em>:</label>
                            <div class="col-sm-offset-1 col-sm-10 table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><label><input type="checkbox" name="Slide (RNA)"><span class="label label-primary">Slide (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Adenine content"><span class="label label-primary">Adenine content</span></label></td>
                                        <td><label><input type="checkbox" name="Hydrophilicity (RNA)"><span class="label label-primary">Hydrophilicity (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Tilt (RNA)"><span class="label label-primary">Tilt (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Stacking energy (RNA)"><span class="label label-primary">Stacking energy (RNA)</span></label></td>
                                    </tr>
                                    <tr>
                                        <td><label><input type="checkbox" name="Twist (RNA)"><span class="label label-primary">Twist (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Entropy (RNA)"><span class="label label-primary">Entropy (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Entropy (RNA)1"><span class="label label-primary">Entropy (RNA)1</span></label></td>
                                        <td><label><input type="checkbox" name="Guanine content"><span class="label label-primary">Guanine content</span></label></td>
                                        <td><label><input type="checkbox" name="Shift (RNA)"><span class="label label-primary">Shift (RNA)</span></label></td>
                                    </tr>
                                    <tr>
                                        <td><label><input type="checkbox" name="Roll (RNA)"><span class="label label-primary">Roll (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Purine (AG) content"><span class="label label-primary">Purine (AG) content</span></label></td>
                                        <td><label><input type="checkbox" name="Hydrophilicity (RNA)1"><span class="label label-primary">Hydrophilicity (RNA)1</span></label></td>
                                        <td><label><input type="checkbox" name="Enthalpy (RNA)1"><span class="label label-primary">Enthalpy (RNA)1</span></label></td>
                                        <td><label><input type="checkbox" name="GC content"><span class="label label-primary">GC content</span></label></td>
                                    </tr>
                                    <tr>
                                        <td><label><input type="checkbox" name="Rise (RNA)"><span class="label label-primary">Rise (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Free energy (RNA)"><span class="label label-primary">Free energy (RNA)</span></label></td>
                                        <td><label><input type="checkbox" name="Keto (GT) content"><span class="label label-primary">Keto (GT) content</span></label></td>
                                        <td><label><input type="checkbox" name="Free energy (RNA)1"><span class="label label-primary">Free energy (RNA)1</span></label></td>
                                        <td><label><input type="checkbox" name="Enthalpy (RNA)"><span class="label label-primary">Enthalpy (RNA)</span></label></td>
                                    </tr>
                                    <tr>
                                        <td><label><input type="checkbox" name="Cytosine content"><span class="label label-primary">Cytosine content</span></label></td>
                                        <td><label><input type="checkbox" name="Thymine content"><span class="label label-primary">Thymine content</span></label></td>
                                        <td><button type="button" class="btn btn-success btn-sm btn-block" onclick="checkAll()">All</button></td>
                                        <td><button type="button" class="btn btn-success btn-sm btn-block" onclick="checkRev()">Reverse</button></td>
                                        <td><button type="button" class="btn btn-success btn-sm btn-block" onclick="checkNone()">None</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="col-sm-5 text-left">(<strong>Optional</strong>) Upload a user-defined physicochemical index file(?): </p>
                            <input type="file" name="upload_ind">
                        </div>
                    {% endif %}

                    <!-- Sequences input -->
                    <div class="form-group">
                        <div class="col-sm-7">
                            <label>Enter the query RNA sequences in FASTA <a href="#" target="_blank">(?)</a> format (maximum 100 for each submission) :</label>
                            <textarea class="form-control" placeholder="Sequences input" rows="3"></textarea>
                        </div>
                        <div class="col-sm-5">
                            <label>Or upload a file in FASTA <a href="#" target="_blank">(?)</a> format (maximum 100 for each submission):</label>
                            <input type="file" >
                        </div>
                    </div>

                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        <button type="reset" class="btn btn-primary btn-lg">Reset</button>
                        <button class="btn btn-primary btn-lg">Example</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}