{% extends "base.html" %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('server') }}">Server</a></li>
            <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('download') }}">Download</a></li>
            <li><a href="{{ url_for('citation') }}">Citation</a></li>
            <li><a href="{{ url_for('contact') }}">Contact us</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-eye-open"></span> Vector visualization
            </h4>
        </div>

        <div class="panel-body">
            <!-- Picture -->
            {% if args['mode'] != 'PseSSC' and args['mode'] != 'PseDPC' %}
                <img src="{{ url_for('static', filename=jpg_path) }}" class="img-responsive img-rounded" alt="Responsive image"/>
            {% else %}
                <p class="alert alert-success">
                    Because the picture format is ps format, it cannot be shown in HTML, so please download the picture (<a href="{{ url_for('static', filename=jpg_path) }}" target="_blank"><span class="glyphicon glyphicon-picture"></span> Visualization picture</a>).
                </p>
            {% endif %}

            <!-- Summary -->
            <p>
                <strong>{{ vec_name }}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Dimensions: {{ vec|length }}</strong>
            </p>
            <div class="table-responsive">
                <table class="table col-sm-10 table-bordered">
                    <tr>
                    {% for _res in vec %}
                        {% if loop.index0 != 0 and loop.index0 % 10 == 0 %}
                            </tr>
                            <tr>
                        {% endif %}
                        {% if 'lamada' in args %}
                            {% if args['mode'] == 'PC-PseDNC-General' or args['mode'] == 'SC-PseDNC-General' or args['mode'] == 'PseSSC' or args['mode'] == 'PseDPC' %}
                                {% if loop.index0 >= (vec|length) - args['lamada']  %}
                                    <td><strong>{{ _res }}</strong></td>
                                {% else %}
                                    <td>{{ _res }}</td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td>{{ _res }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="row text-center vertical-middle-sm">
                <button class="btn btn-primary btn-lg" onclick="window.close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
    </div>

{% endblock %}