{% extends "base.html" %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('server') }}">Server</a></li>
            <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('download') }}">Download</a></li>
            <li><a href="{{ url_for('citation') }}">Citation</a></li>
            <li><a href="{{ url_for('contact') }}">Contact us</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% if pic_type == 'feature' %}
                    <span class="glyphicon glyphicon-eye-open"></span> Feature vector visualization
                {% elif pic_type == 'structure' %}
                    <span class="glyphicon glyphicon-eye-open"></span> Secondary structure visualization
                {% endif %}
            </h4>
        </div>

        <div class="panel-body">
            <!-- Picture -->
            {% if pic_type == 'feature' %}
                <img src="{{ url_for('static', filename=pic_path) }}" class="img-responsive img-rounded" alt="Responsive image"/>
            {% elif pic_type == 'structure' %}
                <div class="col-sm-offset-2">
                    <img src="{{ url_for('static', filename=pic_path) }}" class="img-responsive img-rounded" alt="Responsive image"/>
                    <br>
                </div>
            {% endif %}

            <!-- Summary -->
            <p>
                <strong>{{ vec_name }}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Dimensions: {{ vec|length }}</strong>
            </p>
            <div class="table-responsive">
                <table class="table col-sm-10 table-bordered">
                    <tr>
                    {% for _res in vec %}
                        {% if loop.index0 != 0 and loop.index0 % 10 == 0 %}
                            </tr>
                            <tr>
                        {% endif %}
                        {% if 'lamada' in args %}
                            {% if args['mode'] == 'pPseDNC' or args['mode'] == 'sPseDNC' or args['mode'] == 'PseSSC' or args['mode'] == 'PseDPC' %}
                                {% if loop.index0 >= (vec|length) - args['lamada']  %}
                                    <td><strong>{{ _res }}</strong></td>
                                {% else %}
                                    <td>{{ _res }}</td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td>{{ _res }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}