.jumbotron
{
    background-size: cover;
    /*background: url('../pic/background.jpg');*/
    background: no-repeat;
    padding: 0;
    margin: 5px 0;
}

.container .jumbotron{
    padding-left: 0;
    padding-right: 0;
}

.jumbotron h1{
    font-size: 50px;
}

.navbar-default .navbar-nav>li>a{
    color: #428bca;
}